<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.widgets"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.widgets.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.widgets.Form1"
            android:label="@string/title_activity_form1" >
        </activity>
        <activity
            android:name="com.example.widgets.AbsoluteActivity"
            android:label="@string/title_activity_absolute" >
        </activity>
        <activity
            android:name="com.example.widgets.TextFormActivity"
            android:label="@string/title_activity_text_form" >
        </activity>
        <activity
            android:name="com.example.widgets.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.example.widgets.ClocksActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_clocks"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>